.footer {
	color:#ffffff;
	position:fixed; /*Don't want it to move... also this is needed to get rid of margins*/
	background: #777777;
	padding:0px;
	font-size:14px;
	height:80px;
	text-align:center;
	line-height: 80px; /*line height of same height will center*/
	bottom:0;
	width:100%;
	margin:auto;
	left:0;
	z-index:4;
	font-family: 'Georgia', Times, Times New Roman, serif;
}

.navbar{
	height:auto;
	background-color:#ffffff;
	z-index:5;
	border-bottom:1px solid #cccccc;
}

#My-Brand{
	/*position:fixed;*/
    top: 0;
    background: #4aaaa5;
    color: #ffffff;
    height: 80px;
    max-width: 545px;
    text-align: center;
    line-height:80px;
    font-size: 30px;
    z-index: 6;
    font-weight: bold;
    margin-left:80px;
    margin-right:80px;
}


#Main-Body-Box{
	position:relative;
	height:auto;
	max-width:545px;
	background-color:#ffffff;
	border-radius:1px solid;
	margin-top:20px;
	padding:30px;
	padding-right:40px;
	margin-bottom:20px;
	border:1px solid #cccccc;
	overflow:hidden; /* float left hack that enables my images to take space */
}

body {
	background-image:url('https://3.bp.blogspot.com/-VQ6T6YzpbWc/U5gbCKBhSvI/AAAAAAAAGRA/rxgR4gfWU8g/s1600/lightly-textured-background-tile.jpg');
	/*width:960px;*/
}

div.col-sm-12.col-md-8.col-lg-8.col-xl-8.col-xs-12{
	margin-right:0px;
	padding-right:0px;

}

div.col-sm-6.col-md-6.col-lg-6.col-xl-6.col-xs-12{
	padding:0px;
}

h1{
	color:#49AAA4;
	font-size:24px;
	font-weight: bold;
	font-family:'Georgia', Times, Times New Roman, serif;

}

ul.nav.navbar-nav.navbar-right{
	margin-left:20px;
	margin-right:20px;
	float:left;
	width:100%;
	text-align:center;
}

#li1{
	float:left;
	margin-right:10px;
	margin-top:15px;
	margin-left:20px;
	font-size: 15px;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color:#777777;
}

#li2{
	float:left;
	margin-right:10px;
	margin-top:15px;
	margin-left:20px;
	font-size: 15px;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color:#777777;
	border-left:1px solid #cccccc;
	border-right:1px solid #cccccc;
	padding-left:10px;
	padding-right:10px;
}

#li3{
	float:left;
	margin-right:20px;
	margin-top:15px;
	margin-left:10px;
	font-size: 15px;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color:#777777;
}

div#Small-Body-Box {
	padding-top:0px;
	margin-top:20px;
	margin-bottom:25px;
	background:#dddddd;
	height:1.8px;
	/*width:590px;*/
	margin-left:0px;
/*	margin-right:405px;*/
}


div.col-sm-12.col-md-4.col-lg-4.col-xl-4.col-xs-12{ /* fixes the default padding of the column */
	margin-right:0px;
	padding-right:0px;
}

div#Social-1{
	float:left;
	height:50px;
	width:50px;
	max-width:100px;
	margin-top:35px;
	margin-right:5px;
	margin-left:30px;
	display:inline;
}

div#Social-2{
	float:left;
	height:50px;
	width:50px;
	max-width:100px;
	margin-top:35px;
	margin-right:5px;
	margin-left:5px;
	display:inline;
}

div#Social-3{
	float:left;
	height:50px;
	width:50px;
	max-width:100px;
	margin-top:35px;
	margin-right:5px;
	margin-left:5px;
	display:inline;
}

#Right-Box{
	background-color:#ffffff;
	height:200px;
	width:270px;
	padding:20px;
	margin-top:20px;
	border:1px solid #cccccc;
	text-align:center;
	line-height:50px;
	color:#49AAA4;
	font-size:16px;
	font-weight:bold;
	font-family: 'Georgia', Times, Times New Roman, serif;
}


.container{
	margin-top:100px;
	margin-bottom:100px;
	padding-left:80px;
	padding-right:90px;
	margin-right:0px;
	margin-left:0px;

}

#RBB{
	height:2px;
	width:100%;
	background-color:#cccccc;
}

#Profile-Image{
	float:left;
	margin-left:0px;
	margin-right:20px;
}

p{
	font-size: 15px;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	z-index:1;
	color:#777777;
}

a#nav-link-1{
	left:350px;
	color:red;
}

a#nav-item-1{
	left:350px;
}


#Line-RBB{
	position:absolute;
	background:#dddddd;
	height:1px;
	width:190px;
	z-index:-1;
	top:180px;
	right:30px;
	left:25px;
	margin-left:800px;
}

#Image1{
	float:left;
	/*height:200px;*/
	/*width:100%;*/
	margin-left:0px;
	margin-right:0px;
	margin-bottom:20px;

}

#B1{
	position:absolute; /* absolute positioning doesn't take up space */
	background-color:#49AAA4;
	text-align:center;
	line-height:50px;
	color:#ffffff;
	/*height:50px;
	width:100%;*/
	z-index:2;
	/*margin-left:10px;*/
	margin-top:0px;
	margin-right:0px;
	padding:0px;
}

#Image2{
	float:left;
	/*height:200px;*/
	/*width:100%;*/
	margin-left:10px;
	margin-bottom:20px;
	padding-right:0px;
}

#B2{
	position:absolute; /* absolute positioning doesn't take up space */
	background-color:#49AAA4;
	text-align:center;
	line-height:50px;
	color:white;
	height:50px;
	width:100%;
	z-index:2;
	/*margin-left:445px;*/
	margin-top:0px;
	margin-left:10px;
}

#Image3{
	clear:both;
	float:left;
	/*height:200px;*/
	/*width:200px;*/
	margin-left:0px;
	margin-right:0px;
	margin-bottom:20px;
}

#B3{
	position:absolute; /* absolute positioning doesn't take up space */
	background-color:#49AAA4;
	text-align:center;
	line-height:50px;
	color:white;
	height:50px;
	width:100%;
	z-index:2;
	margin-left:0px;
	margin-top:0px;
}

#Image4{
	float:left;
/*	height:200px;
	width:200px;*/
	margin-left:10px;
	margin-bottom:20px;
	margin-right:0px;
}

#B4{
	position:absolute; /* absolute positioning doesn't take up space */
	background-color:#49AAA4;
	text-align:center;
	line-height:50px;
	color:white;
	height:50px;
	width:100%;
	z-index:2;
	margin-left:10px;
	margin-top:0px;
	
}

#Image5{
	clear:both;
	float:left;
	/*height:200px;
	width:200px;*/
	margin-left:0px;
}

#B5{
	position:absolute; /* absolute positioning doesn't take up space */
	background-color:#49AAA4;
	text-align:center;
	line-height:50px;
	color:#ffffff;
	height:50px;
	width:100%;
	z-index:2;
	margin-left:0px;
	margin-top:0px;
}

#Image6{
	float:left;
/*	height:200px;
	width:200px;*/
	margin-left:10px;
	margin-bottom:20px;
	margin-right:0px;
}

#B6{
	position:absolute; /* absolute positioning doesn't take up space */
	background-color:#49AAA4;
	text-align:center;
	line-height:50px;
	color:white;
	height:50px;
	width:100%;
	z-index:2;
	margin-left:10px;
	margin-top:0px;
	
}


/*#My-Name {
	position:absolute;
	top:0;
	background:#4aaaa5;
	color:#ffffff;
	height:80px;
	width:230px;
	text-align:center;
	line-height:80px;
	font-size:30px; 
	z-index:4; 
	font-weight:bold;
	margin-left:100px;
}*/


.None{
	text-decoration:none;
	color:#777777;
}

#Heading {
	color:#4aaaa5;
	padding-left:30px;
	z-index:1;
	margin-top:60px;
	margin-bottom:0px;
	font-size:30px;
	font-weight:bold;
	font-family: 'Georgia', Times, Times New Roman, serif;
	margin-left:100px;
}

#Padding-Box {
	position:fixed;
	background:#49AAA4;
	height:10px;
	width:100%;
	padding:0;
	left:0;
	right:0;
	bottom:80px; 
	margin:auto;
	z-index:4;
}

/*#Footer {
	color:#ffffff;
	position:fixed; 
	background: #666666;
	padding:0px;
	font-size:14px;
	height:80px;
	text-align:center;
	line-height: 80px; 
	bottom:0;
	width:100%;
	margin:auto;
	left:0;
	z-index:4;
	font-family: 'Georgia', Times, Times New Roman, serif;
}*/

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    position:relative;
    width:100%; /* Full width */
    padding: 12px;     
    border: 1px solid #cccccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
    font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color:#777777;
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: #49AAA4;
    color: #ffffff;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    margin-bottom:100px;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
    background-color: #49AAA4;
    font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    margin-bottom:100px;
}

/* Add a background color and some padding around the form */
.Contact-Wrapper {
    border-radius: 5px;
    background-color: #ffffff;
    padding:21px;
    width:100%;
    margin-top:0px;
    height:100%;
    padding-bottom:0px;
    border:1px solid #dddddd;
    margin-left:0px;
    position:relative;
}

label{
	color:#777777;
	font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

#Lcontainer{
	color:#4aaaa5;
	font-family:font-family: 'Georgia', Times, Times New Roman, serif;
	font-size:30px;
	position:relative;
	top:10px; 
	padding-bottom:30px;
	z-index:4; /* Put my name on top of the white header box */
	font-weight:bold;
}

#Bcontainer{
	background-color:#dddddd;
	height:3px;
	top:10px;
	margin-bottom:30px;
}



